
body {
  font-family: 'Times New Roman', Times, serif;
  margin: 10px;
  padding: 10px;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  color: #000000;
}

header {
  background-color: #F2F2F2;
  color: black;
  border-radius: 5px;
  padding-inline-start: 25px;
  padding-inline-end: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  margin: 1em;
  text-align: center;
}

header > p {
  color: darkslategray;
  text-align: center;
  font-size: large;
}

#tribute-link {
  color: darkslategray;
  text-transform: capitalize;
}

.contribution , .quote , .link  {
  background-color: #F2F2F2;
  border-radius: 5px;
  padding-inline-start: 25px;
  padding-inline-end: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  margin: 1em;
}

.contribution > p {
  
  font-weight: bold;
  font-size: large;
  margin: 1em;
  text-align: left;
}

#img-caption {
  background-color: #F2F2F2;
  margin: 1em;
  border-radius: 5px;
  padding-inline-start: 25px;
  padding-inline-end: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  font-size: large;
}

#image {
  max-width: 100%;
  height: auto;
  margin: auto;
}

.quote > p {
  text-align: center;
  font-size: large;
}

.link > h2 {
  text-align: center;
}

a:link {
  text-decoration: none;
}

img {
  display: block;
}

#main {
  text-align: center;
}

#tribute-info {
  text-align: left;
  font-size: medium;
}

#img-div {
  margin: 1em;
  border-radius: 5px;
  padding-inline-start: 25px;
  padding-inline-end: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #F2F2F2;
  border: none;
}