
body {
  font-family: Helvetica;
  margin: 1em;
  padding: 1em;
  background-color: #F2F2F2;
  color: #000000;
}

header {
  background-color: #EAE4D5;
  color: black;
  margin: auto;
  border-radius: 10px;
  padding-inline-start: 25px;
  padding-inline-end: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px, solid;
  margin: 1em;
}


#tribute-link {
  color: red;
  text-decoration: none;
}

.contribution , .quote , .link  {
  background-color: #EAE4D5;
  margin: auto;
  border-radius: 10px;
  padding-inline-start: 25px;
  padding-inline-end: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px, solid;
  margin: 1em;
}

.contribution > p {
  text-decoration: underline;
  margin: 1em;
}

#img-div > p {
  background-color: #EAE4D5;
  margin: auto;
  border-radius: 10px;
  padding-inline-start: 25px;
  padding-inline-end: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px, solid;
  margin: 1em;
}

#img-div > img {
  margin: 1em;
  padding: 1em;
  background-color: #EAE4D5;
  border: 1px, solid;
  border-radius: 10px;
}

#image {
  border-radius: 10px;
  border: 1px, solid;
  display: block;
}