body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 1em;
  padding: 1em;
}

#img-div {
    height: 900px;
    width: 600px;
    border-radius: 15px;
}

#tribute-link {
  color: black;
}

ul > li {
  margin: 1em;
}